.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
currentcode_0612-0921.md
collated_code.md
viz/mabrouk_manifold.html
viz/mabrouk_manifold_files/crosstalk-1.2.1/css/crosstalk.min.css
viz/mabrouk_manifold_files/crosstalk-1.2.1/js/crosstalk.js
viz/mabrouk_manifold_files/crosstalk-1.2.1/js/crosstalk.js.map
viz/mabrouk_manifold_files/crosstalk-1.2.1/js/crosstalk.min.js
viz/mabrouk_manifold_files/crosstalk-1.2.1/js/crosstalk.min.js.map
viz/mabrouk_manifold_files/crosstalk-1.2.1/scss/crosstalk.scss
viz/mabrouk_manifold_files/htmltools-fill-0.5.8.1/fill.css
viz/mabrouk_manifold_files/htmlwidgets-1.6.4/htmlwidgets.js
viz/mabrouk_manifold_files/jquery-3.5.1/jquery-AUTHORS.txt
viz/mabrouk_manifold_files/jquery-3.5.1/jquery.js
viz/mabrouk_manifold_files/jquery-3.5.1/jquery.min.js
viz/mabrouk_manifold_files/jquery-3.5.1/jquery.min.map
viz/mabrouk_manifold_files/plotly-binding-4.10.4/plotly.js
viz/mabrouk_manifold_files/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css
viz/mabrouk_manifold_files/plotly-main-2.11.1/plotly-latest.min.js
viz/mabrouk_manifold_files/typedarray-0.1/typedarray.min.js
